/*head*/
.hamburger {
    display: none;
}

nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1680px;
}

.navbar-outline {
    background-color: #2D320E;
    padding: 10px;
    border-radius: 80px;
    margin: 2rem 5rem ;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #C48729 solid 1px;
    border-radius: 80px;
    padding: 24px 48px;
    font-size: 1.2rem;
    font-weight: bold;
}

.logo {
    max-width: 128px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 1.2rem;
}

.navbar a {
    color:#C48729;
}

.head-img {
    display: block;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/*about us*/
.aboutUs {
    display: flex;
    align-items: center;
    gap:5rem;
    width: 100%;
}
.aboutUsImg img {
    max-width: 400px;
}

/*menu*/
.menu{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu img {
    max-width:232px;
    margin-bottom: 1rem;
}

.menu span{
    margin: 0 auto;
}


/*booking*/
.booking {
    background-color: #F8E9C1;
    border-radius: 40px;
    padding: 3rem 2.25rem;
    display: flex;
    gap:3.5rem;
    justify-content: center;
}

.notice{
    max-width: 45%;
}

.notice ul li {
    margin-left: 2rem;
    list-style:circle;
    line-height: 1.5;
}

.booking-form {
    width: 50%;
}

.booking-form > div {
    margin-bottom: 1rem;
    align-content: end;
    width: 100%;
}

/* form */
label{
    display: inline-block;
    width: 15%;
}

.agreed{
    display: inline;
    width: 100%;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding-right: 40px; /* 留出偽元素的位置 */
}

.select-container {
    position: relative;
    display: inline-block;
    width: 200px;
}

.select-container::after {
    content: url('../img/chevron-down.png');
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 使偽元素不影響用戶操作 */
}


select, input[type="text"],input[type="tel"],input[type="email"],input[type="date"]{
    display: inline-block;
    width: 80%;
    height: 2.5rem;
    border-radius: 100px;
    border: #2D320E 1px solid;
    color: #2D320E;
    background-color: #F8E9C1;
    padding: 0 1rem;
    box-sizing: border-box;
    
}

.date-container {
    position: relative;
}

input[type="date"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    padding-right: 40px; 
}

.date-container::after {
    content: url('../img/calendar.png');
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* 隱藏date的原始icon */
.date-container input[type="date"]::-webkit-calendar-picker-indicator
 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
.date-container input[type="date"]::-ms-clear,
.date-container input[type="date"]::-ms-expand {
    display: none;
}
.checkbox-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkbox-container > label{
    cursor: pointer;
    user-select: none;
}

/* 隱藏原始的 checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #2D320E;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
}

/* 勾選狀態的樣式 */
input[type="checkbox"]:checked {
    background-color: #C48729;
    border: 2px solid #C48729;
}

/* 勾選狀態的偽元素 */
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.form-btn{
    margin-top: 2rem;
    display: flex; 
    justify-content: flex-end;
}

/*customized*/
.cake{
    color: #C48729;
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.cake-img{
    max-width: 450px;
}

.cake-content {
    text-align: center;
}

.cake-content > div{
    margin-top: 2rem;
    display: flex; 
    justify-content: flex-end;
}

/*info*/

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    width: 100%;
}

.info li {
    margin-bottom: 1rem;
}

.info li img{
    vertical-align: middle;
}

.info p {
    display: inline-block;
    margin-left: 0.5rem;
}

.map{
    width: 50%;
}

.info iframe{
    border-radius:40px;
}

/* moon */
.moon1{
    position: absolute;
    top: 80px;
    left: -100px;
    width: 300px;
}
.moon2{
    position: absolute;
    top: 400px;
    right: 100px;
    width: 120px;
}

.moon3{
    position: absolute;
    top: 80px;
    left: 150px;
    width: 250px;
    z-index: -1;
}

.moon4{
    position: absolute;
    top: 500px;
    right: -80px;
    z-index: -1;
    width: 500px;
}
.moon5{
    position: absolute;
    top:1200px;
    left: 50px;
    z-index: -1;
    width: 150px;
}

.moon6{
    position: absolute;
    top: 2100px;
    left: -80px;
    z-index: -1;
    width: 400px;
}
.moon7{
    position: absolute;
    top: 1600px;
    right: 80px;
    z-index: -1;
    width: 250px;
}

/* rwd */
@media (max-width: 1440px)  {
    .container {
        max-width: 1000px;
        padding: 5rem;
    }

    .logo{
        max-width: 100px;
    }

    .aboutUs {
        gap:3rem;
    }

    .aboutUs img{
        max-width: 350px;
    }

    label{
        width: 15%;
    }

    .cake-img {
        max-width: 350px;
    }
    
    .info{
        gap:2rem;
    }

    .info li img {
        max-width: 24px;
    }

    .moon2 {
        top: 500px;
        right: 160px;
    }
}

@media (max-width: 1024px)  {
    .container {
        max-width: 992px;
        padding: 4rem;
    }
    .navbar ul{
        display: none;
    }
    .hamburger {
        display: block;
    }
    .navbar-outline{
        margin: 2rem 3rem ;
    }
    .logo {
        max-width: 80px; 
    }

    .moon1{
        top: 0px;
        left: -150px;
    }

    .moon2 {
        top: 600px;
        right: 10px;
    }
    .moon3{
        top: 50px;
        left: 30px;
        width: 200px;
    }
    
    .moon4{
        top: 500px;
        width: 350px;
    }

    .moon5{
        top:1100px;
        left: 20px;
        z-index: 1;
        width: 100px;
    }

    .moon6{
        top: 2100px;
        left: -150px;
        width: 400px;
    }

    .moon7{
        top: 1500px;
        right: -50px;
        width: 250px;
    }
}

@media (max-width: 768px)  {
    .container {
        max-width: 768px;
        padding: 4rem 3rem;
    }

    .aboutUs {
        flex-direction: column;
    }
    
    .menu img {
        max-width: 120px;
    }

    .booking{
        flex-direction: column;
    }
    .notice {
        max-width: 100%;
    }
    .booking-form {
        width: 100%;
    }

    .cake {
        flex-direction: column;
    }

    .cake-content > div {
        justify-content: center;
    }

    .info{
        flex-direction: column;
    }

    .map {
        width: 80%;
    }

    .moon2 {
        top:1150px;
        right: 100px;
    }

    .moon5 {
        top: 800px;
        left: -15px;
    }

    .moon6 {
        top:2500px;

    }

    .moon7 {
        top: 1500px;
        right: -90px;
    }
}



@media (max-width: 430px)  {
    .container {
        max-width: 375px;
        padding: 3rem 2rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
    .logo {
        max-width: 60px;
    }

    .navbar-outline {
        margin: 1rem;
    }

    .navbar {
        padding: 16px 24px;
    }
    
    .head-img {
        height: 70vh;
    }

    .aboutUs img {
        max-width: 300px;
    }

    .menu {
        flex-direction: column;
    }

    .menu a {
        margin: 0 auto;
    }

    label {
        width: 20%;
    }

    select, input[type="text"], input[type="tel"], input[type="email"], input[type="date"] {
        width: 75%;
    }

    .cake-img {
        max-width:300px;
        margin-top: 2rem;
    }

    .cake {
        gap:2rem;
    }

    .info li img {
        max-width: 20px;
    }

    .info p {
        margin-left: 4px;
    }

    .moon1 {
        width: 100px;
        left: -50px;
    }

    .moon2 {
        width: 200px;
        right: -80px;
    }

    .moon3 {
        width: 150px;
        left: -10px;
        top: 600px;
    }

    .moon4 {
        top: 1100px;
        right: -150px;
        width: 300px;
    }

    .moon5 {
        top: 1500px;
    }

    .moon6 {
        top: 3200px;
        width: 350px;
    }

    .moon7 {
        top: 2400px;
        right: -90px;
    }
}
