/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow:hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css erset end*/


/*共用樣式*/
body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #2D320E;
    background-image: url("../img/background.png");
    background-repeat: repeat;
    color: #2D320E;
}

h1{
    color:#C48729;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    line-height: 1.75;
    text-align: justify;
}

a{
    text-decoration: none;
    color:#2D320E;
}

.container {
    max-width: 1680px;
    padding: 5rem 10rem;
    margin: 0 auto;
}

.btn-yellow{
    display: block;
    width: fit-content;
    background-color: #C48729;
    color: #2D320E;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-yellow:hover {
    background-color: #AE741C;
}

.btn-yellow:active {
    background-color: #AE741C;
}

.btn-green{
    display: block;
    width: fit-content;
    background-color: #2D320E;
    color: #E0AE60;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-green:hover {
    background-color: #222607;
}

.btn-green:active {
    background-color: #222607;
}

.bg-yellow{
    background-color: #F8E9C1;
}

/*scrollbar*/
.c-scrollbar {
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center right;
    transition: transform .3s,opacity .3s;
    width: 11px;
}

.c-scrollbar_thumb {
    background-color: #000;
    border-radius: 10px;
    cursor: -webkit-grab;
    cursor: grab;
    margin: 2px;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 7px;
}

/*navbar*/
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger-img {
    width: 37px;
}

.navbar-outline {
    background-color: #2D320E;
    padding: 10px;
    border-radius: 80px;
    margin: 2rem 5rem ;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #C48729 solid 1px;
    border-radius: 80px;
    padding: 24px 48px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    transition: height 0.3s ease;
}
.navbar a {
    color:#C48729;
}

.logo {
    max-width: 128px;
}
.navbar a:hover {
    color:#F8E9C1;
}

.navbar a:active {
    color:#F8E9C1
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 1.2rem;
}

@media (max-width: 1024px)  {
    .logo {
        max-width: 80px;
    }

    .hamburger {
        display: block;
        text-align: end;
    }

    .navbar-outline{
        margin: 2rem 3rem ;
    }
    
    .navbar {
        flex-direction: row;
        align-items: flex-start;
        height: auto;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: end;
    }

    .navbar-outline.active {
        border-radius: 40px;
        height: auto;
    }

    .navbar.active {
        height: auto; 
        border-radius: 40px;
    }

    .nav-links.active  {
        display: block;
    }

    
}

@media (max-width: 430px) {
    .logo {
        max-width: 60px;
    }

    .hamburger-img {
        width: 28px;
    }

    .navbar-outline {
        margin: 1rem;
    }

    .navbar {
        padding: 16px 24px;
    }
    
}

/* footer */
footer{
    background-color: #2D320E;
    display: flex;
    justify-content: center;
    color: #C48729;
    padding: 1.5rem 10rem;
}


