/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow:hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css erset end*/


/*共用樣式*/
body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #2D320E;
    background-image: url("./img/background.png");
    background-repeat: repeat;
    color: #2D320E;
}

h1{
    color:#C48729;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    line-height: 1.75;
    text-align: justify;
}

a{
    text-decoration: none;
    color:#2D320E;
}

.container {
    max-width: 1680px;
    padding: 5rem 10rem;
    margin: 0 auto;
}

.btn-yellow{
    display: block;
    width: fit-content;
    background-color: #C48729;
    color: #2D320E;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    text-align: center;
    border: none;
}

.btn-green{
    display: block;
    width: fit-content;
    background-color: #2D320E;
    color: #C48729;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    text-align: center;
    border: none;
}

.bg-yellow{
    background-color: #F8E9C1;
}

/*scrollbar*/
.c-scrollbar {
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center right;
    transition: transform .3s,opacity .3s;
    width: 11px;
}

.c-scrollbar_thumb {
    background-color: #000;
    border-radius: 10px;
    cursor: -webkit-grab;
    cursor: grab;
    margin: 2px;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 7px;
}

/* footer */
footer{
    background-color: #2D320E;
    display: flex;
    justify-content: center;
    color: #C48729;
    padding: 1.5rem 10rem;
}


